
{% extends 'todotracker/navbar.html' %}

<head>
	<title>TODO Tracker &aacute; la Priki</title>
</head>

<body>

	{% block content %}
	<div class="container">

		<h1>To Do's</h1>

		<table class="table table-responsive">
			<thead>
				<tr>
					<th class="col-sm-7">Beschreibung</th>
					<th class="col-sm-4">Deadline</th>
					<th class="col-sm-1">Fortschritt</th>
					<th class="col-sm-1">Bearbeiten</th>
					<th class="col-sm-1">L&ouml;schen</th>
				</tr>
			</thead>
			{% if todo_list %}
			<tbody>
				{% for todo in todo_list %}
				<tr>
					<td>{{ todo.description }}</td>
					<td>{{ todo.deadline }}</td>
					<td>{{ todo.progress }}%</td>
					<td><a href="{% url 'todotracker:edit_todo' todo_id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table> 
	</div>


	{% endblock %}

</body>