<meta name="viewport" content="width=device-width, initial-scale=1">

{% load staticfiles %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'todotracker/styles.css' %}">
<title>TODO Tracker &aacute; la Priki</title>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'todotracker:index' %}">TODO Tracker</a>
		</div>
		<ul class="nav navbar-nav">
			<li> <a href="{% url 'todotracker:add-todo' %}">To Do hinzuf&uuml;gen</a></li>
			<li> <a href="{% url 'todotracker:about' %}">Impressum</a></li>
		</ul>
	</div>
</nav>


<div class="container">
	<h1>To Do's</h1>

	<table class="table table-responsive">
		<thead>
			<tr>
				<th class="col-sm-7">Beschreibung</th>
				<th class="col-sm-4">Deadline</th>
				<th class="col-sm-1">Fortschritt</th>
				<th class="col-sm-1">Bearbeiten</th>
				<th class="col-sm-1">L&ouml;schen</th>
			</tr>
		</thead>
		{% if todo_list %}
		<tbody>
			{% for todo in todo_list %}
			<tr>
				<td>{{ todo.description }}</td>
				<td>{{ todo.deadline }}</td>
				<td>{{ todo.progress }}%</td>
				<td><a href="{% url 'todotracker:edit-todo' %}"><span class="glyphicon glyphicon-edit"></span></a></td>
				<td><span class="glyphicon glyphicon-trash"></span></td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}
	</table> 
</div>